.container {
    width: 100%;
}
.logo
{
    background-color: #e9d4ba;
    height: 40px;
    text-align: center;

}
.nav{
    width:20%;
    height: 500px;
    background-color: #b4d4f6;
    float: left;
}
.ad{
    width: 20%;
    height: 500px;
    background-color: #d0d088;
    float: left;
}

.content{
    width: 60%;
    height: 500px;
    background-color: lavender;
    float: left;

}
.footer{
height: 30px;
    background-color: rgba(21, 20, 20, 0.86);
    color: #8f8c8c;
    clear: both;
    text-align: right;
    padding: 10px;
}

.button_main_page{
    padding: 10px;
}