.container {
    width: 100%;
    height: 100%;
}
.logo
{
    background-color: #cab499;
    height: 60px;
    width: 80%;
    text-align: center;
    float: left;

}
.clock{
    background-color: #454444;
    width: 20%;
    height: 60px;
    color: #ffffff;
    float: left;
    text-align: center;

}
.nav{
    width:20%;
    height: 565px;
    background-color: #9ec1ea;
    float: left;
}

.content{
    width: 80%;
    height: 565px;
    background-color: #9a9abf;
    float: left;


}
.footer{
height: 30px;
    background-color: rgba(21, 20, 20, 0.86);
    color: #b1afaf;
    clear: both;
    text-align: right;
    padding: 10px;
}

.button_main_page{
    padding: 10px;
}

#add_rent_button{
    padding: 100px;
}