.container {
    width: 100%;
}
.logo
{
    background-color: burlywood;
    height: 40px;
    text-align: center;

}
.nav{
    width:20%;
    height: 500px;
    background-color: #4579bc;
    float: left;
}
.ad{
    width: 20%;
    height: 500px;
    background-color: #aeae08;
    float: left;
}

.content{
    width: 60%;
    height: 500px;
    background-color: lavender;
    float: left;

}
.footer{
height: 30px;
    background-color: rgba(0,0,0,0.86);
    color: lightgray;
    clear: both;
    text-align: right;
    padding: 10px;
}

.button_main_page{
    padding: 10px;
}